---
layout: default
---

<div class="home-wrapper">


  <div class="sidebar">
    <div class="sidebar-inner">
    <h2>Mark Engel</h2>

      <!-- {% include page-intro.html %} -->


      <section>

        <ul>
            <li>
              <a href="woodcuts">Woodcuts</a>
            </li>
            <li>
              <a href="paintings">Paintings</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>

        </ul>

      </section>
    </div>
  </div>

<div>
    <!-- <section class="image-grid">
      {{ content }}
      <div>
        <img src="/assets/img/uploads/right_side_up.jpg">
        <caption>Right Side Up, 2011</caption>
      </div>

      <img src="/assets/img/uploads/storm_dancers.jpg">

    </section> -->

    <ul class="photo-gallery">
      {% for image in page.images %}
        <li><img src="{{ image.image_path }}" alt="{{ image.title}}"/>
            <caption>{{ image.caption }}</caption>
          </li>
      {% endfor %}
    </ul>


  </div>

</div>
